*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    min-height: 130vh;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #eee;
    box-shadow: 0px 1px 3px 0px #00000059;
    font-family: sans-serif;
    width: 100%;
    text-align: left;
}

.logo{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    color:black;
    height: 100%;
}

footer .footercontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 30px;
    gap: 0px 50px;
    align-items: flex-start;
    width: 1000px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}


.box-1 li{
    display: inline-block;
    margin-right:10px;
}

.links img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.links ul li {
    margin-top: 20px;
    background-color: black;;
    width: 50px;
    height: 50px;
    transition: 0.5s 0.2s;
}

.links ul .tw:hover{
    background-color: #1da1f2;
}
.links ul .face:hover{
    background-color: #1877f2;
}
.links ul .yt:hover{
    background-color: #ff0000;
}

.links .copyright{
    color: black;;
    margin-top: 20px;
}

.links .copyright span{
    font-weight: bold;
}

.box-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px ;
}
.box-2 h2,.box-3 h2{
    padding-bottom: 20px ;
}

.box-2 a , .box-2 h2 ,.box-3 h2{
    text-decoration: none;
    color: black;
}

.box-2 li{
    list-style: none;
    border-bottom: 1px solid #444;
    padding: 8px 0px ;

}

.box-2 a{
    display: block;
    transition: 0.5s 0.2s;
}

.box-2 li a:active,
.box-2 li a:hover{
    padding-left: 10px;
    color: black;
}

.box-3{
    padding-left: 50px;
}

.box-3 div{
    margin-bottom: 10px;
}

.box-3 img{
    width: 20px;
    margin: 5px 5px -3px 0px;
}

.box-3 span{
    display: inline-block;
    font-size: 18px;
    color: var(--maincolor);
}